.feature-highlights {
  padding: 40px 0;
  background: #d35400;

  justify-content: center;

  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #fdf2e9 0%, #f8edeb 100%);
  text-align: center;
  max-width: 180px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #555555;
  width: 160px;

  &__img {
    width: 100px;
    height: 100px;
    margin-bottom: 16px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    color: #d35400;
    margin-bottom: 6px;
    line-height: 1.3;
  }

  &__desc {
    font-size: 14px;
    color: #040303;
    line-height: 1.4;
  }
}
