$bg-dark: #3e2723;
$bg-light: #5d4037;
$color-hover: #ffcc80;
$font-primary: 'Poppins', sans-serif;
$color-primary: #fff;

body{
  width: 1280px;
}
.header {
  width: 100%;
  padding: 15px 40px;
  background: $bg-dark;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-primary;
  font-family: $font-primary;

  .logo {
    width: 10%;
    font-size: 28px;
    font-weight: 900;

    &:hover {
      color: $color-hover;
      transform: scale(1.05);
      cursor: pointer;
    }
  }
  .nav {
    width: 30%;
    display: flex;
    gap: 40px;
    position: relative;
    right: -40px;

    a {
      color: white;
      text-decoration: none;
      font-size: 18px;
      transition: 0.3s;
      font-weight: 600;

      &:hover {
        color: $color-hover;
      }
    }
  }
  .search-box{
    width: 30%;
    position: relative;
    right: -170px;
    input{
      width: 400px;
      height: 40px;
      border-radius: 20px;
      border: none;
      padding-left: 20px;
    }
    .icons{
      color: #111;
      position: absolute;
      right: -25px;
      top: 12px;

      &:hover {
        color: $color-hover;
      }
    }
  }
  .icon-box{
    width: 20%;
    display: flex;
    gap: 30px;
    position: relative;
    right: -190px;
    .icons{
      color: $color-primary;
      font-size: 16px;

      &:hover {
        color: $color-hover;
      }
    }
  }
}
