
$bg-light: #5d4037;
$color-hover: #ffcc80;
$font-primary: 'Poppins', sans-serif;
$color-primary: #fff;

body {
  width: 100%;
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 100px;
  padding: 15px 40px;
  background: var(--bg-dard);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-primary;
  font-family: $font-primary;
  gap: 40px;

  .logo {
    font-size: 28px;
    font-weight: 900;

    &:hover {
      color: $color-hover;
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  .nav {
    display: flex;
    gap: 40px;

    a {
      color: white;
      text-decoration: none;
      font-size: 18px;
      transition: 0.3s;
      font-weight: 600;

      &:hover {
        color: $color-hover;
      }
    }
  }

  .search-box {
    display: flex;
    align-items: center;
    position: relative;

    input {
      width: 350px;
      height: 40px;
      border-radius: 20px;
      border: none;
      padding-left: 20px;
    }

    .icons {
      position: absolute;
      right: 10px;
      top: 11px;
      color: #111;

      &:hover {
        color: $color-hover;
      }
    }
  }

  .icon-box {
    display: flex;
    gap: 25px;

    .icons {
      color: $color-primary;
      font-size: 18px;

      &:hover {
        color: $color-hover;
      }
    }
  }
}
