.user-menu-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;

  .user-chip {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 14px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;

    .name {
      color: #fff;
      font-size: 14px;
      white-space: nowrap;
    }

    .user-icon {
      color: #fff !important;
    }
  }

  .user-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 180px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    padding: 8px 0;
    z-index: 1000;

    /* Mặc định ẩn đi */
    display: none;

    a {
      display: block;
      padding: 10px 16px;
      color: #333 !important;
      text-decoration: none !important;
      font-size: 14px;
      transition: 0.2s;
      border-bottom: 1px solid #eee;

      &:hover {
        background: #f5f5f5;
        color: #5d4037 !important;
      }
    }

    .logout-btn-link {
      color: #d32f2f !important;
      border: none;
      background: none;

    }
  }

  /* Hiển thị khi hover vào container */
  &:hover {
    .user-dropdown-menu {
      display: block;
    }
    .user-chip {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}